﻿@using Blen.Web.Framework
@model Blen.Web.Models.Users.UsersListViewModel

@{
    var defaultGridPageSize = 10;
    var gridPageSizes = "10, 15, 20, 50, 100";
    ViewBag.Title = T("Admin.Users.Title");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @* CONTENIDO PRINCIPAL *@
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
    @* TABLA DOMMY *@
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.HcrLabelFor(model => model.SearchEmail)
                            </div>
                            <div class="col-md-8">
                                @Html.HcrEditorFor(model => model.SearchEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.HcrLabelFor(model => model.SearchFirstName)
                            </div>
                            <div class="col-md-8">
                                @Html.HcrEditorFor(model => model.SearchFirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.HcrLabelFor(model => model.SearchLastName)
                            </div>
                            <div class="col-md-8">
                                @Html.HcrEditorFor(model => model.SearchLastName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.HcrLabelFor(model => model.SearchUsername)
                            </div>
                            <div class="col-md-8">
                                @Html.HcrEditorFor(model => model.SearchUsername)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.HcrLabelFor(model => model.SearchIpAddress)
                            </div>
                            <div class="col-md-8">
                                @Html.HcrEditorFor(model => model.SearchIpAddress)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.HcrLabelFor(model => model.SearchUserRoleIds)
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.SearchUserRoleIds, new {SelectList = Model.AvailableUserRoles})
                                <script>
                                    $(document).ready(function (){
                                        var rolesIdsInput = $('#@Html.FieldIdFor(model => model.SearchUserRoleIds)')
                                            .data("kendoMultiSelect");
                                        rolesIdsInput.setOptions({
                                            autoClose: false
                                        });

                                        @if (Model.AvailableUserRoles.Count == 0)
                                        {
                                        <text>
                                            rolesIdsInput.setOptions({
                                                enable: false,
                                                placeholder: '@T("Admin.User.NoUserRolesAvailable")'
                                            });
                                            rolesIdsInput._placeholder();
                                            rolesIdsInput._enable();
                                        </text>
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-offset-5">
                        <button type="button" id="search-users" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                            @T("Common.Search")
                        </button>
                        <div class="pull-right">
                            @if (Model.AllowUserToAdd)
                            {
                                <button type="button" class="btn btn-success">
                                    <i class="fa fa-plus-square"></i>
                                    @T("Common.New")
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="users-grid"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#users-grid').kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UserList", "User"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @Html.Partial("_GridPagerMessages")
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50
                                },
                                {
                                    field: "Email",
                                    title: "@T("Admin.Users.Fields.Email")",
                                    width: 200
                                },
                                {
                                    field: "Username",
                                    title: "@T("Admin.Users.Fields.Username")",
                                    width: 200
                                },
                                {
                                    field: "FullName",
                                    title: "@T("Admin.Users.Fields.FullName")",
                                    width: 200
                                },
                                {
                                    field: "UserRolNames",
                                    title: "@T("Admin.Users.Fields.UserRoles")",
                                    width: 200
                                },
                                {
                                    field: "Active",
                                    title: "@T("Admin.Users.Fields.Active")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "CreatedOn",
                                    title: "@T("Admin.Users.Fields.CreatedOn")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "LastActivityDate",
                                    title: "@T("Admin.Users.Fields.LastActivityDate")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 50,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                }
                            ]
                        });
                    });
                </script>

                <script type="text/javascript">
                    var selectedIds = [];

                    $(document).ready(function() {
                        // Search Button
                        $('#search-users').click(function() {
                            var grid = $('#users-grid').data('kendoGrid');

                            // new search. Set page size to 1
                            grid.dataSource.page(1);

                            // clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            return false;
                        });
                        
                        $("".concat(
                                "#@Html.FieldIdFor(model => model.SearchEmail),",
                                "#@Html.FieldIdFor(model => model.SearchUsername),",
                                "#@Html.FieldIdFor(model => model.SearchFirstName),",
                                "#@Html.FieldIdFor(model => model.SearchLastName),",
                                "#@Html.FieldIdFor(model => model.SearchIpAddress)"))
                            .keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $('#search-users').click();
                                    return false;
                                }
                            });

                        $('#mastercheckbox').click(function() {
                            $('#mastercheckbox').attr('checked', $(this).attr('checked')).change();
                        });

                        //wire up checkboxes.
                        $('#users-grid').on('change',
                            'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]',
                            function(e) {
                                var $check = $(this);
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if ($check.attr('checked') === true) {
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                } else {
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds,
                                            function(item, index) {
                                                return item != $check.val();
                                            });
                                    }
                                }
                                updateMasterCheckbox();
                            });
                    });

                    function onDataBound(e) {
                        $('#users-grid input[type=checkbox]:not([id=mastercheckbox])[class=checkboxGroups]').each(
                            function() {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes =
                            $('#users-grid input[type=checkbox]:not([id=mastercheckbox])[class=checkboxGroups]')
                                .length;
                        var numChkBoxesChecked =
                            $(
                                    '#users-grid input[type=checkbox]:not([id=mastercheckbox])[class=checkboxGroups]:checked')
                                .length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var data = {
                            SearchUserRoleIds: $('#@Html.FieldIdFor(model => model.SearchUserRoleIds)').val(),
                            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
                            SearchUsername: $('#@Html.FieldIdFor(model => model.SearchUsername)').val(),
                            SearchFirstName: $('#@Html.FieldIdFor(model => model.SearchFirstName)').val(),
                            SearchLastName: $('#@Html.FieldIdFor(model => model.SearchLastName)').val(),
                            SearchDayOfBirth: $('#@Html.FieldIdFor(model => model.SearchIpAddress)').val()
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }
                </script>
            </div>
        </div>
    </div>
}

@*
@section Scripts
{

}
*@
