﻿@using System.ServiceModel.Security
@model Blen.Web.Models.DxGenericDataGridModel<Blen.Web.Models.Log.LogList>

@{
    ViewBag.Title = "Log";
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @(Html.DevExtreme().DataGrid()
                  .FilterRow(builder =>
                      builder
                          .Visible(true))
                  .FilterPanel(builder =>
                      builder
                          .FilterEnabled(true)
                          .Visible(true))
                  .Grouping(builder =>
                      builder.AllowCollapsing(true)
                          .ContextMenuEnabled(true)
                          .AutoExpandAll(false))
                  .ID("dx_Datagrid")
                  .Columns(Model.Columns)
                  .CacheEnabled(true)
                  .ColumnAutoWidth(true)
                  .ColumnChooser(builder =>
                      builder
                          .AllowSearch(true)
                          .Enabled(true)
                          .Height(250))
                  .ColumnHidingEnabled(true)
                  .ColumnMinWidth(50)
                  .DataSource(Model.Data)
                  .SearchPanel(builder =>
                      builder
                          .Visible(true))
                  .Pager(builder =>
                      builder
                          .AllowedPageSizes(new[] { 10, 20, 30, 40, 50 })
                          .Visible(true)
                          .ShowPageSizeSelector(true)
                          .ShowNavigationButtons(true))
                  .Paging(builder => 
                      builder.PageSize(10)
                      ))
        </div>
    </div>
</div>

@section Scripts{
    
    

    @*<script type="text/javascript">
        

        $(function() {
            var dxGrid = $("#dx_Datagrid").dxDataGrid('instance');
            dxGrid.rowTemplate($("#gridRow"));
        })
    </script>
    
    <script id="gridRow" type="text/html">
        <% var rowClass = "log dx-row " + ((rowIndex % 2) ? "dx-row-alt" : ""); %>
        <tbody class="<%= rowClass %>">
        <tr>
            <td><%= data.DireccionIP %></td>
            <td><%= data.PaginaUrl %></td>
        </tr>
        <tr class="main-row">
            <td><%= data.MensajeCorto %></td>
        </tr>
        </tbody>
    </script>*@
}
    