﻿@using DevExpress.DashboardWeb
@{
    ViewBag.Title = "Home";
}

<div id="dasboardControl">
    @(Html.DevExpress()
                .Dashboard(
                    settings =>
                    {
                        settings.Name = "homeDashboard";
                        settings.ClientSideEvents.BeforeRender = "onBeforeRender";
                        settings.AllowCreateNewDashboard = false;
                        settings.AllowExportDashboard = false;
                        settings.LoadDefaultDashboard = true;
                        settings.WorkingMode = WorkingMode.ViewerOnly;
                    }).GetHtml())
    <script src="/Scripts/dxExtentions/dasborad_webpageview/webpage-extension.min.js"></script>
</div>

@section Scripts
{
    <style type="text/css">
        .content {
            padding: 0px !important; 
            padding-left: 0px !important; 
            padding-right: 0px !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".content-header").remove();
        });

        function onBeforeRender(sender) {
            var dashboardControl = sender.getDashboardControl();
            //dashboardControl.registerExtension(new DevExpress.Dashboard.DashboardPanelExtension(dashboardControl));
            dashboardControl.registerExtension(new CustomItems.WebPageItemExtension(dashboardControl));
        }
    </script>
}
