﻿@using Blen.Web.Framework
@model Blen.Web.Models.Order.MasterOrderCreatOrUpdate
@{
    ViewBag.Title = $"Pedido No. {Model.Id}";
    //ViewBag.Title = T("Orders");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-md-3">Bienvenido Desarrollador</div>
                <div class="col-md-2 col-md-offset-7">Estacion actual: @(Model.CurrenetSeason?.Nombre)</div>
            </div>
        </div>
        <div class="box-body">
            <div class="panel-group">
                @{
                    Html.RenderPartial("PromotorOrder", Model.PromotorOrders);
                }
                <div class="panel" id="panel-agregar">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-1">
                                @Html.HcrLabelFor(model => model.PromotorId)
                            </div>
                            <div class="col-md-3">
                                @Html.HcrDropDownListFor(model => model.PromotorId, Model.AvailablePromotores)
                                @Html.ValidationMessageFor(model => model.PromotorId)
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="AddPromotorOrder" formaction=@Url.Action("AddPromotor") formmethod="POST" class="btn btn-success btn-flat">
                                    <i class="fa fa-plus-square"></i>
                                    @T("Common.Add")
                                </button>
                            </div>
                            <div class="col-md-11 col-md-offset-1">
                                <em>
                                    @T("AddProtmorOrder.Message")
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" id="panel-resumen">
                    <div class="panel-heading">
                        <div class="form-group col-md-12">
                            <div>
                                <strong>@T("Order.CreateOrUpdate.Resume.Title")</strong>
                            </div>
                            <div>
                                <em>@T("Order.CreateOrUpdate.Resume.Message")</em>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <table class="table " id="tablaResumen">
                                <thead>
                                <tr>
                                    <th scope="col" vdata-toggle="tooltip" data-placement="bottom" title="Comprobante Fiscal Digital por Internet" class="col-md-1">CFDI</th>
                                    <th scope="col" class="col-md-7">Nombre</th>
                                    <th scope="col" class="col-md-2">Venta Catalogo</th>
                                    <th scope="col" class="col-md-2">Venta Comisionable</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button name="Checkout" class="btn btn-success btn-flat">
                        <i class="fa fa-arrow-circle-right"></i>
                        @T("Order.CreateOrUpdate.Button.FinalizeOrder.Text")
                    </button>
                </div>
            </div>
        </div>
    </div>
}