﻿@using System.Web.UI.WebControls
@using Blen.Web.Framework
@model IList<Blen.Web.Models.Order.CreateOrUpdatePromotorOrder>

@if (!Model.Any())
{
    return;
}

<div class="panel-group" id="grupo-pedidios">
@foreach (var po in Model)
{
    <div class="panel">
        <div class="form-group">
            <div>
                <strong>
                    @string.Format(T("Order.CreateOrUpdate.PromotorOrder.Title").Text, po.PromotorFullName)
                </strong>
            </div>
            <div>
                <em>@T("Order.CreateOrUpdate.PromotorOrder.Message")</em>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" vclass="col-md-1">#</th>
                        <th scope="col" class="col-md-1">Codigo</th>
                        <th scope="col" class="col-md-3">Descripcion</th>
                        <th scope="col" class="col-md-1">Cantidad</th>
                        <th scope="col" class="col-md-1">P. Unitario</th>
                        <th scope="col" class="col-md-1">SubTotal</th>
                        <th scope="col" class="col-md-1">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var prod in po.OrderProducts)
                        {
                        <tr>
                            <th scope="row">1</th>
                            <td><input type="number"/></td>
                            <td></td>
                            <td><input type="number" /></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button name="add" class="btn btn-success btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
</div>