﻿@model Blen.Web.Models.Products.AdminProductsListViewModel

@{
    var defaultGridPageSize = 10;
    var gridPageSizes = "10, 15, 20, 50, 100";
    ViewBag.Title = T("Admin.Products.Title");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        @* Panel de busqueda *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2 pull-right">
                        <a href="@Url.Action("UpdateProducts")" class="btn bg-blue">
                            <i class="fa fa-cart-plus"></i>
                            @T("Common.Update")
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-offset-5">
                        <button type="button" id="search-products" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                            @T("Common.Search")
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @* Panel de la tabla *@
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="adminProducts-Grid"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#adminProducts-Grid').kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductsList", "Admin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @Html.Partial("_GridPagerMessages")
                            },
                            scrollable: false,
                            @* dataBound: onDataBound, *@
                            columns: [
                                {
                                    field: "CodigoProducto",
                                    title: "@T("Admin.Product.Fields.CodigoProducto")",
                                    width: 50
                                },
                                {
                                    field: "Nombre",
                                    title: "@T("Admin.Product.Fields.Nombre")",
                                    width: 200
                                },
                                {
                                    field: "ProductoLinea",
                                    title: "@T("Admin.Product.Fields.Linea")",
                                    width: 200
                                },
                                {
                                    field: "EsComisionable",
                                    title: "@T("Admin.Product.Fields.EsComisionable")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(EsComisionable) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "Publicado",
                                    title: "@T("Admin.Product.Fields.Publicado")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Publicado) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                }
                            ]
                        });
                    });
                </script>
                
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#search-products').click(function() {
                            var grid = $('#users-grid').data('kendoGrid');

                            // new search. Set page size to 1
                            grid.dataSource.page(1);

                            // clear selected checkboxes
                            // $('.checkboxGroups').attr('checked', false).change();
                            // selectedIds = [];

                            return false;
                        });
                    });

                    function additionalData() {
                        var data = {
                            @* valores que estan en los filtros *@
                        }

                        addAntiForgeryToken(data);
                        return data;
                    }
                </script>
            </div>
        </div>
    </div>
}