﻿@using System.Web.Optimization
@using Blen.Web.Framework
@model Blen.Web.Models.Settings.ConfigClosingScheduleViewModel
@{
    ViewBag.Title = T("Config.Closing");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="box box-primary">
        <div class="box-header">

        </div>
        <div class="box-body">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Configuration.ClosingSchedule.Defaults")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.DefaultCloseScheduleTime)
                            </div>
                            <div class="col-md-3">
                                @Html.HcrEditorFor(model => model.DefaultCloseScheduleWeekDay)
                            </div>
                            <div class="col-md-2">
                                @Html.HcrEditorFor(model => model.DefaultCloseScheduleTime)
                            </div>
                            <div class="col-md-9 col-md-offset-3">
                                @Html.ValidationMessageFor(model => model.DefaultCloseScheduleTime)
                                @Html.ValidationMessageFor(model => model.DefaultCloseScheduleWeekDay)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.DefaultOpenScheduleTime)
                            </div>
                            <div class="col-md-3">
                                @Html.HcrEditorFor(model => model.DefaultOpenScheduleWeekDay)
                            </div>
                            <div class="col-md-2">
                                @Html.HcrEditorFor(model => model.DefaultOpenScheduleTime)
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.DefaultOpenScheduleTime)
                                @Html.ValidationMessageFor(model => model.DefaultOpenScheduleWeekDay)
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="save" class="btn btn-primary pull-right">
                                <i class="fa fa-floppy-o"></i>
                                @T("Common.Save")
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Configuration.ClosingSchedule.Close")
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.HcrLabelFor(model => model.OpenScheduleTime)
                                </div>
                                <div class="col-md-3">
                                    @Html.HcrEditorFor(model => model.OpenScheduleWeekDay)
                                </div>
                                <div class="col-md-2">
                                    @Html.HcrEditorFor(model => model.OpenScheduleTime)
                                </div>
                                <button type="submit" name="UseDefault" class="btn btn-adn">
                                    @T("Common.UseDefault")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/Bundles/jqueryval")
}