﻿@using System.Web.Optimization
@using Blen.Web.Framework
@model Blen.Web.Models.Settings.EmailSenderConfigViewModel
@{
    ViewBag.Title = T("Config.EmailSender");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="box box-primary">
        <div class="box-header">
            <div class="pull-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    @T("Common.Save")
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.SMPTServer)
                            </div>
                            <div class="col-md-9">
                                @Html.HcrEditorFor(model => model.SMPTServer)
                                @Html.ValidationMessageFor(model => model.SMPTServer)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.Port)
                            </div>
                            <div class="col-md-9">
                                @Html.HcrEditorFor(model => model.Port)
                                @Html.ValidationMessageFor(model => model.Port)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.EnebleSsl)
                            </div>
                            <div class="col-md-9">
                                @Html.HcrEditorFor(model => model.EnebleSsl)
                                @Html.ValidationMessageFor(model => model.EnebleSsl)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.User)
                            </div>
                            <div class="col-md-9">
                                @Html.HcrEditorFor(model => model.User)
                                @Html.ValidationMessageFor(model => model.User)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.Password)
                            </div>
                            <div class="col-md-9">
                                @Html.HcrEditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.EmailAlias)
                            </div>
                            <div class="col-md-9">
                                @Html.HcrEditorFor(model => model.EmailAlias)
                                @Html.ValidationMessageFor(model => model.EmailAlias)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Configuration.EmailSender.SendTestMail.Panel.Text")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.SendTestEmailTo)
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.HcrEditorFor(model => model.SendTestEmailTo)
                                    <div class="input-group-btn">
                                        <button type="submit" name="sendtestemail" class="btn btn-info">
                                            @T("Admin.Configuration.EmailAccounts.SendTestEmail.Button")
                                        </button>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.SendTestEmailTo)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/Bundles/jqueryval")
}