﻿@using Blen.Web.Framework
@model Blen.Web.Models.Settings.OrderSettingsViewModel
@{
    ViewBag.Title = T("Orders.Settings");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="box box-primary">
        <div class="box-header">
            <div class="pull-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    @T("Common.Save")
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Configuration.Settings.BlockTitle.InvoiceConfig")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.InvoicingStartTime)
                            </div>
                            <div class="col-md-2">
                                @Html.HcrEditorFor(model => model.InvoicingStartTime)
                            </div>
                            <div class="col-md-7">
                                @Html.ValidationMessageFor(model => model.InvoicingStartTime)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.InvoicingEndTime)
                            </div>
                            <div class="col-md-2">
                                @Html.HcrEditorFor(model => model.InvoicingEndTime)
                            </div>
                            <div class="col-md-7">
                                @Html.ValidationMessageFor(model => model.InvoicingEndTime)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.AmountMinToDMIInvoice)
                            </div>
                            <div class="col-md-2">
                                @Html.HcrEditorFor(model => model.AmountMinToDMIInvoice)
                            </div>
                            <div class="col-md-7">
                                @Html.ValidationMessageFor(model => model.AmountMinToDMIInvoice)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HcrLabelFor(model => model.AmountMinToPromotoraInvoice)
                            </div>
                            <div class="col-md-2">
                                @Html.HcrEditorFor(model => model.AmountMinToPromotoraInvoice)
                            </div>
                            <div class="col-md-7">
                                @Html.ValidationMessageFor(model => model.AmountMinToPromotoraInvoice)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}