﻿@model DayOfWeek?
@{
    var fieldName = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
}
<div class="weekDays-selector">
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Monday" class="weekday" value="@((int)DayOfWeek.Monday)" />
    <label title="@T("Common.WeekDay.Monday")" for="@fieldName-@DayOfWeek.Monday">@T("Common.WeekDay.Monday").Text.ToUpper()[0]</label>
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Tuesday" class="weekday" value="@((int)DayOfWeek.Tuesday)" />
    <label title="@T("Common.WeekDay.Tuesday")" for="@fieldName-@DayOfWeek.Tuesday">@T("Common.WeekDay.Tuesday").Text.ToUpper()[0]</label>
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Wednesday" class="weekday" value="@((int)DayOfWeek.Wednesday)" />
    <label title="@T("Common.WeekDay.Wednesday")" for="@fieldName-@DayOfWeek.Wednesday">@T("Common.WeekDay.Wednesday").Text.ToUpper()[0]</label>
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Thursday" class="weekday" value="@((int)DayOfWeek.Thursday)" />
    <label title="@T("Common.WeekDay.Thursday")" for="@fieldName-@DayOfWeek.Thursday">@T("Common.WeekDay.Thursday").Text.ToUpper()[0]</label>
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Friday" class="weekday" value="@((int)DayOfWeek.Friday)" />
    <label title="@T("Common.WeekDay.Friday")" for="@fieldName-@DayOfWeek.Friday">@T("Common.WeekDay.Friday").Text.ToUpper()[0]</label>
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Saturday" class="weekday" value="@((int)DayOfWeek.Saturday)" />
    <label title="@T("Common.WeekDay.Saturday")" for="@fieldName-@DayOfWeek.Saturday">@T("Common.WeekDay.Saturday").Text.ToUpper()[0]</label>
    <input type="radio" name="@fieldName" id="@fieldName-@DayOfWeek.Sunday" class="weekday" value="@((int)DayOfWeek.Sunday)" />
    <label title="@T("Common.WeekDay.Sunday")" for="@fieldName-@DayOfWeek.Sunday">@T("Common.WeekDay.Sunday").Text.ToUpper()[0]</label>
</div>

@{
    if (Model != null)
    {
        <script type="text/javascript">
            $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(String.Empty)-@(Model)").attr('checked', 'checked');
        </script>
    }
}
