﻿@model bool

<label>
    @Html.CheckBoxFor(model => model)
</label>

<script type="text/javascript">
    $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty))").iCheck({
            checkboxClass: 'icheckbox_flat-green'
    });
    $("#@(ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty))").iCheck('@(Model? "check" : "uncheck")');
</script>
