﻿@model DateTime
@using System.Globalization

<div class="input-group bootstrap-timepicker timepicker">
    <input id="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)"
           name="@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)"
           type="Text"
           class="form-control" />
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>


<script type="text/javascript">
    $('#@(@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty))').timepicker({
        showInputs: false,
        maxHours: 24,
        showMeridian: true,
        minuteStep: 1,
        explicitMode: true,
        setTime: '@((Model > DateTime.MinValue ? 
                        Model : DateTime.Today).ToString("hh:mm tt", CultureInfo.InvariantCulture))'
    });

    $('#@(@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty))')
        .timepicker('setTime', '@((Model > DateTime.MinValue ? 
                                      Model : DateTime.Today).ToString("hh:mm tt", CultureInfo.InvariantCulture))');
</script>
