﻿@{
    Layout = "~/Views/Shared/_UnregisterUserLayout.cshtml";
}

<h4>Enter your email.</h4>
@using (Html.BeginForm("ForgotPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    <div class="form-group has-feedback">
        <input id="userEmail" name ="userEmail" class="form-control" type="email" placeholder="Email" required=""/>
    </div>
    <div class="row">
        <div class="col-xs-4 pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-flat">@T("Login.Password.Forgot.SendMail")</button>
        </div>
    </div>
}