﻿@using System.Web.Optimization
@model Blen.Web.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_UnregisterUserLayout.cshtml";
}

<p class="login-box-msg">@T("Login.Start.Info.Message")</p>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Password)
    @* @Html.ValidationSummary(false) *@
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.UserNameOrEmail, new { placeholder = T("Account.Login.Fields.Username"), @class = "form-control" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.UserNameOrEmail, "", new { @class = "text-danger" })
    </div>
    <div class="form-group has-feedback">
        @Html.Password("rawPassword", string.Empty,
            new
            {
                PlaceHolder = T("Account.Login.Fields.Password"),
                @class = "form-control"
            })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            @Html.ActionLink(@T("Login.Password.Forgot").ToString(), "ForgotPassword")
            <a href="#"></a><br>
        </div>
        <div class="col-xs-4 pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="hashPwd()">@T("Account.Login.LoginButton")</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Content/scripts/blen/lib/sha512/sha512.min.js")
    <script>
        function hashPwd() {
            var inpwd = document.getElementById("rawPassword").value;
            document.getElementById("Password").value = sha512(inpwd);
        }
    </script>
}