﻿@{
    Layout = "~/Views/Shared/_UnregisterUserLayout.cshtml";
}

<div>
    <p>
        @T("Login.Password.Reset.ConfirmMessage")
    </p>
</div>
<div class="row">
    <div class="col-xs-4 pull-right">
        <a href=@Url.Action("Login") class="btn btn-primary btn-block btn-flat">@T("Login.Password.Reset.GoToLogin")</a>
    </div>
</div>