﻿@using System.Web.Optimization
@model Blen.Web.Models.Account.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_UnregisterUserLayout.cshtml";
}

<h2>Reset password</h2>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Token)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.NewPassword)
    @Html.HiddenFor(model => model.ConfirmNewPassword)
    <div class="form-group has-feedback">
        @Html.Password("pwd", string.Empty,
            new
        {
           PlaceHolder = T("Login.Password.NewPassword"),
           @class = "form-control"
        })
    </div>
    <div class="form-group">
        @Html.Password("confirmPwd", string.Empty,
            new
            {
                PlaceHolder = T("Login.Password.NewPassword"),
                @class = "form-control"
            })
    </div>
    <div class="row">
        <div class="col-xs-8 pull-right">
            <button type="submit" onclick="hashPwd()" class="btn btn-primary btn-block btn-flat">@T("Login.Password.PasswordReset")</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/scripts/blen/lib/sha512/sha512.min.js")
    <script>
        function hashPwd() {
            var inpwd = document.getElementById("pwd").value;
            var confirmPwd = document.getElementById("confirmPwd").value;
            document.getElementById("NewPassword").value = sha512(inpwd);
            document.getElementById("ConfirmNewPassword").value = sha512(confirmPwd);
        }
    </script>
}
