﻿@using Blen.Services.Security
@using WebHelpers.Mvc5.Enum
@using Unity;
@{ 
    var menuColpased = Convert.ToBoolean(Session?["MenuColapsed"] ?? false);
    var _permissionService = UnityConfig.Container.Resolve<IPermissionService>();
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Blen : @ViewBag.Title</title>
        @Styles.Render("~/Bundles/css")

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        @Scripts.Render("~/Bundles/jquery")
        <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
        <script src="@EnumHandler.HandlerUrl"></script>
        @Scripts.Render("~/Bundles/lib")

        <!-- DevExpress -->
        @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
            )
        @Html.DevExpress().GetScripts( 
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView },
            new Script { ExtensionSuite = ExtensionSuite.Dashboard }
            )

        <!-- devExtreme -->
        <script type="text/javascript" src="~/Scripts/aspnet/dx.aspnet.mvc.js"></script>
        <script type="text/javascript" src="~/Scripts/aspnet/dx.aspnet.data.js"></script>

        <!-- KendoUI -->
        @Styles.Render("~/Bundles/kendoStyles")
        @Scripts.Render("~/Bundles/kendo")

        @RenderSection("Scripts", required: false)
    </head>
    <body class="hold-transition skin-green sidebar-mini @(menuColpased ? "sidebar-collapse": null)">
        <div class="wrapper">
            @Html.Partial("_Header")

            @Html.Partial("_Menu")

            <div class="content-wrapper">
                <section class="content-header">
                    @Html.Partial("Notifications")
                    <h1>
                        @ViewBag.Title
                        <small>@ViewBag.Description</small>
                    </h1>
                </section>
                <section class="content">
                    @RenderBody()
                </section>
            </div>

            @Html.Partial("_Footer")
            
            @if (_permissionService.Authorize(StandardPermissionProvider.ManageSettgins))
            {
                @Html.Partial("_ControlSidebar")
                <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
            }
        </div>
    </body>
</html>