﻿@using Blen.Data.Entities
@using Blen.Services.Security
@using Blen.Web.Framework.Menu
@using Unity
@using AutoMapper;
@{
    var siteSections = UnityConfig.Container.Resolve<IAuthorizedSectionsService>()
        .GetCurrentAuthorizedSections().ToList();

    var secctionsAsNodes = Mapper.Map<List<SiteSection>, List<MenuNode>>(siteSections);

    var raices = secctionsAsNodes.Where(nodo => nodo.Parent_Id == 0).ToList();
    secctionsAsNodes.RemoveAll(nodo => nodo.Parent_Id == 0);

    List<MenuNode> menu = AddItemsToMenu(raices.ToList(), secctionsAsNodes);

    List<MenuNode> AddItemsToMenu(List<MenuNode> principalSections, List<MenuNode> allSections)
    {
        foreach (var section in principalSections)
        {
            if (allSections.Any(x => x.Parent_Id == section.Id))
            {
                var childList = allSections.Where(item => item.Parent_Id == section?.Id).ToList();
                childList = AddItemsToMenu(childList, allSections);
                section.ChildNodes.AddRange(childList);
            }
        }

        return principalSections;
    }
}

@helper RenderMenuItem(MenuNode item)
{
    var url = string.Empty;

    if (!string.IsNullOrWhiteSpace(item.ControllerName) && !string.IsNullOrWhiteSpace(item.ActionName))
    {
        url = Url.Action(item.ActionName, item.ControllerName, item.RouteValues, null, null);
    }
    else if (!string.IsNullOrWhiteSpace(item.Url))
    {
        if (item.Url.StartsWith("~/", StringComparison.Ordinal))
        {
            url = Url.Content(item.Url);
        }
        else
        {
            url = item.Url;
            item.OpenUrlInNewTab = true;
        }
    }

    var isActive = item.SysName.Equals(Convert.ToString(Session["SelectedSectionSysName"] ?? ""), 
        StringComparison.InvariantCultureIgnoreCase);

    <li class="
        @(string.IsNullOrWhiteSpace(url)? Html.Raw("treeview") : null) 
        @(isActive ?  Html.Raw("active current-active-item") : null)">
        <a class="@(string.IsNullOrWhiteSpace(url)? null : Html.Raw("action-menu"))" 
           href="@(string.IsNullOrWhiteSpace(url)? Html.Raw("#") : Html.Raw(url))"
           @(item.OpenUrlInNewTab ? Html.Raw(" target=\"_blank\"") : null)
           id="@("menu_" + item.SysName)">
            <i class="@item.IconClass"></i><span>@T(item.LocalizableDisplayTitle)</span>
            @if (item.ChildNodes.Any())
            {
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                <ul class="treeview-menu">
                    @foreach (var childItem in item.ChildNodes)
                    {
                        @RenderMenuItem(childItem)
                    }
                </ul>
            }
        </a>
    </li>
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU PRINCIPAL</li>
            @foreach (var item in menu)
            {
                @RenderMenuItem(item)
            }
        </ul>
        @* END Menu *@
    </section>
</aside>

<script>
    $('li.active').parents('li').addClass('active');

    $(document).ready(function () {
        //$('#backTop').backTop();
        $("a.sidebar-toggle").on('click', function () {
            var collapsed = !$('body').hasClass('sidebar-collapse');
            saveUserPreferences('@(Url.Action("SavePreference", "SessionPreferences"))', 'MenuColapsed', collapsed);
        });

        $("a.action-menu").on('click', function() {
            saveUserPreferences('@(Url.Action("SavePreference", "SessionPreferences"))', 'SelectedSectionSysName', $(this).attr('id'));
        });
    });
</script>
