﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blen Pedidos | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Bundles/css")
    @Styles.Render("/Content/css/BlenStyles/main.css")
    @RenderSection("Styles", required: false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/Jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/scripts/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/logo.png" id="login-logo-blen" alt="Blen" />
            </a>
        </div>
        <div class="login-box-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>