﻿@using Blen.Web.Framework.UI
@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[$"blen.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(TempData[$"blen.notifications.{NotifyType.Success}"] as IList<string> ?? new List<string>());
    }
    if (ViewData[$"blen.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(ViewData[$"blen.notifications.{NotifyType.Success}"] as IList<string> ?? new List<string>());
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[$"blen.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(TempData[$"blen.notifications.{NotifyType.Error}"] as IList<string> ?? new List<string>());
    }
    if (ViewData[$"blen.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(ViewData[$"blen.notifications.{NotifyType.Error}"] as IList<string> ?? new List<string>());
    }

    //warning messages
    var warningMessages = new List<string>();
    if (TempData[$"blen.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(TempData[$"blen.notifications.{NotifyType.Warning}"] as IList<string> ?? new List<string>());
    }
    if (ViewData[$"blen.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(ViewData[$"blen.notifications.{NotifyType.Warning}"] as IList<string> ?? new List<string>());
    }
}

@foreach (var message in successMessages)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @message
    </div>
}

@foreach (var message in errorMessages)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @message
    </div>
}

@foreach (var message in warningMessages)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @message
    </div>
}