﻿.login-page {
    height: 80%;
}
#login-logo-blen {
    height: 150px;
}
 .label-wrapper .ico-help {
    display:table-cell;
    font-size:1.17em;
    padding-left:6px
}
.label-wrapper {
    display: table;
    float: right;
    min-height: 28px;
}
.label-wrapper .control-label {
    display: table-cell;
}
.fa {
    padding-right: 5px !important;
}
.form-group {
    margin-bottom: 5px;
    height: 34px;
}
.form-group input[type=checkbox] {
    margin-top: 10px;
}
.form-group .checkbox input[type=checkbox] {
    margin-top: 3px;
}
.form-group .please-wait {
    margin-top: 10px;
}
.form-group > div > a {
    display: inline-block;
    padding-top: 6px;
}
.form-group .callout {
    padding: 8px 15px;
    margin-left: -20px !important;
}
.form-group .attributes label{
    font-weight: normal;
}
.form-horizontal .attributes select {
    width: 300px !important;
    max-width: 100%;
    border-radius: 0;
    border-color: #d2d6de;
    height: 34px;
}
.form-group .attributes .qty-box {
    width: 48px;
    display: inline-block;
}
.form-horizontal .attributes .input-group-required{
    width: 320px;
}

/* Inicia Dia de la semana selector CSS */ 

.weekDays-selector input {
       display: none!important;
   }

    .weekDays-selector input[type=radio] + label {
        display: inline-block;
        /*border-radius: 6px; redondea las esquinas*/
        background: #dddddd;
        height: 34px;
        width: 30px;
        margin-right: 3px;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
    }

    .weekDays-selector input[type=radio]:checked + label {
        background: #00a65a;
        color: #ffffff;
    }

/* Termina Dia de la semana selector CSS */ 